<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>SocialSphere</h1>
            <nav>
                <ul>
                    <li><a  href="{{url_for('home')}}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('post')}}"> Post</a></li>
                    <li><a href="{{url_for('profile')}}">Dashboard</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for ('signup')}}">Signup</a></li>
                    <li><a href="{{url_for ('login')}}">Login</a></li>
                    {% endif %}
                </ul>         
            </nav>
        </header>
        <main class="main-content">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</body>
<footer class="footer">
    <p> Copyright &copy;{{current_year}} SocialSphere. All right reserved</p>
</footer>
</html>